#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #ebebeb;
    background-color: #010101;
}